# Folder view configuration files
.DS_Store

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# My "LEFTOFF" file convention
LEFT-OFF.md

# My ".vimsession" convention
.vimsession

.config/nvim/sessions
.config/hub
.config/nvim/swaps/*
.config/nvim/.netrwhist
.config/configstore/update-notifier-bower.json
.npmrcs
npm-debug.log
